@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/* here will go all global styles I want to be shared between components; then they might be modified under scoped */

:root {
  --colorMain: #521818;
  --colorHeader: #f04f4b;
  --colorFooter: #30b2e7;
}

.pageColumn {
  padding: 0 20px;
  min-width: 320px;
  max-width: 1200px;
}
