@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

/* here will go all global styles I want to be shared between components; then they might be modified under scoped */

:root {
  --colorMain: #521818;
  --colorHeader: #f04f4b;
  --colorFooter: #30b2e7;
  --colorFooter-shadow: rgba(48, 179, 231, 0.5);
  --colorBorder: #fdbe59;
  --colorDetails: #bcc63f;
}

/* .pageColumn {
  padding: 0 20px;
  min-width: 320px;
  max-width: 1200px;
} */
