/* reseting all the basic elements for the whole page; specific css under scoped */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* h3 & p should be set up here, in reset only reseting values, not setting them up */

/* h3 {
  margin: 15px 0px;
}

p {
  margin: 15px 0px;
} */

ul {
  list-style-type: none;
}

/* main used to be .wrapper in APP */
/* main {
  margin: 0px auto 92px;
  max-width: 1600px;
  min-height: 500px;
  padding-right: 50px;
  padding-left: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
} */
